@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h3> This web app shows a list of lectures who can manage a list of students,courses, and degrees</h3>
    <p class="display-4">Lecturers: <a class="btn btn-info form-control text-white" href="/LecturerList/Index">Shows a list of all Lectures</a>.</p>
    <p class="display-4">Students: <a class="btn btn-info form-control text-white" href="/StudentList/Index">Shows a list of all Students</a>.</p>
    <p class="display-4">Courses: <a class="btn btn-info form-control text-white" href="/CourseList/Index">Shows a list of all Courses</a>.</p>
    <p class="display-4">Degrees: <a class="btn btn-info form-control text-white"  href="/DegreeList/Index">Shows a list of all Degrees</a>.</p>
</div>
